<div>
  <div class='column left'>
    <h2>Our Next Meetup</h2>
    <p>
      The next meeting of LNUG is on the
      <strong>
        25th January 2012.
      </strong>
    </p>
    <p>
      Doors will open at 6:30pm where we will have
      <strong>
        Beer and Pizza (!)
      </strong>
      , with our talks starting at 7pm.
    </p>
    <p>We have three talks lined-up so far:</p>
    <ul>
      <li>
        <strong>Paddy Byers</strong>
        - Node.js for Android
      </li>
      <li>
        <strong>
          Simon McManus
        </strong>
        - Sizlate: HTML templating with Sizzle (jQuery) selectors
      </li>
      <li>
        <strong>
          Richard Marr
        </strong>
        - Powerful data layers with CouchDB and Elasticsearch
      </li>
    </ul>

    <ul class='event-actions'>
      <li class='register'>
        <a href='http://lnugjanuary12.eventbrite.co.uk/'>Register @ Eventbrite</a>
      </li>
      <li class='lanyrd'>
        <a href='http://lanyrd.com/2012/lnug-january'>Lanyrd</a>
      </li>
      <li class='addcal'>
        <a href='http://lanyrd.com/2012/lnug-january/save-to-calendar/'>Add to Calendar</a>
      </li>
    </ul>
    <div class='clear'></div>
    <p>
      Any questions or if you are interested in talking, please get in touch at
      <br />
      <a href='mailto:venue@forward.co.uk?subject=LNUG'>venue [at] forward.co.uk</a>
    </p>
  </div>
  <div class='column right' id='venue'>
    <h2>The Venue</h2>
    <div id='map'>
      <a class='email' href='http://maps.google.co.uk/maps?f=q&amp;amp;source=s_q&amp;amp;hl=en&amp;amp;geocode=&amp;amp;q=19+Mandela+Street,+Camden+Town&amp;amp;aq=0&amp;amp;sll=53.800651,-4.064941&amp;amp;sspn=18.828876,57.084961&amp;amp;ie=UTF8&amp;amp;hq=&amp;amp;hnear=19+Mandela+St,+London+NW1+0DU,+United+Kingdom&amp;amp;z=15' target='_blank' title='View on Google Maps'></a>
      <img src='http://maps.googleapis.com/maps/api/staticmap?center=51.53794,-0.139500&amp;markers=color:red%7Ccolor:red%7Clabel:F%7C51.53794,-0.136700&amp;sensor=false&amp;zoom=15&amp;size=256x256&amp;maptype=roadmap' />
      <script src='http://maps.google.com/maps/api/js?sensor=false'></script>
      <script type='text/javascript'>
        //<![CDATA[
          function initializeMap() {
            var latlng = new google.maps.LatLng(51.537928, -0.137403);
            var myOptions = {
              zoom: 15,
              center: latlng,
              mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("map"), myOptions);

            var marker = new google.maps.Marker({
                  position: latlng,
                  map: map
              });
          }
          initializeMap();
        //]]>
      </script>
    </div>
    <address>
      Floor 2, Centro 3
      <br />
      19 Mandela Street
      <br />
      London, NW1 0DU
      <br />
      United Kingdom
    </address>
    <h3>Tweets</h3>
    <script src="http://widgets.twimg.com/j/2/widget.js"></script>
    <script>
    new TWTR.Widget({
      version: 2,
      type: 'search',
      search: 'lnug',
      interval: 2000,
      title: '',
      subject: '',
      width: 300,
      height: 200,
      theme: {
        shell: {
          background: '#fff',
          color: '#ffffff'
        },
        tweets: {
          background: '#ffffff',
          color: '#444444',
          links: '#B3D46D'
        }
      },
      features: {
        scrollbar: false,
        loop: true,
        live: true,
        hashtags: true,
        timestamp: true,
        avatars: true,
        toptweets: true,
        behavior: 'default'
      }
    }).render().start();
    </script><br><br>
  </div>

  <div class='row clear'>
    <h2>Recent Job Postings</h2>
    <ul id='jobs'></ul>
    <a href='/jobs'>Browse the Job Board</a>
  </div>

  <div class="row clear">
    <h2>Videos From Previous Events</h2>
    <ul id="videos">
    </ul>
    <a href="http://vimeo.com/forwardtechnology/videos/search:lnug/sort:newest" target="_blank">View all videos from LNUG</a>
  </div>

  <div class='row clear'>
    <h2>Schedule & Previous Events</h2>

    <h3>November 2011 - <a href='http://lanyrd.com/2011/lnug-november/'>Lanyrd</a></h3>
    <ul>
      <li><a href='http://twitter.com/alex_young'>Alex Young</a> - Node Flow Control</li>
      <li><a href='http://twitter.com/appltn'>Andrew Appleton</a> - Introducing Mint Source</li>
      <li><a href='http://twitter.com/majek04'>Marek Majkowski</a> - SockJS - WebSocket Emulation Kept Simple, Stupid</li>
      <li><a href='http://twitter.com/mloughran'>Richard Miller-Smith</a> - Websockets and the Pusher Pipe</li>
    </ul>

    <h3>October 2011 - <a href='http://lanyrd.com/2011/lnug-october/'>Lanyrd</a></h3>
    <ul>
      <li><a href='http://twitter.com/mikedeboer'>Mike de Boer</a> -  Developing large NodeJS libraries with Cloud9 IDE</li>
      <li><a href='http://twitter.com/seddonandrew'>Andrew Seddon</a> - Massive-git, a revision controlled database</li>
      <li><a href='http://twitter.com/detillen'>Richard Miller-Smith</a> - State machines and asynchronous programming</li>
    </ul>

    <h3>September 2011 - <a href='http://www.flickr.com/photos/forwardtechnology/sets/72157627778958764/'>Photos</a> - <a href='http://lanyrd.com/2011/lnug-september/'>Lanyrd</a></h3>
    <ul>
      <li><a href='http://twitter.com/andykent'>Andy Kent</a> -  Realtime data analysis over unbounded streams</li>
      <li><a href='http://twitter.com/GarrenSmith'>Garren Smith</a> - These are the ORM's you are looking for</li>
      <li><a href='http://twitter.com/rtweed'>Rob Tweed</a> - The Globals Database: its significance for Node developers</li>
    </ul>

    <p>
      Why not join our
      <a href='https://groups.google.com/group/lnug'>Google Group</a>
      to stay connected, or you can
      <a href='mailto:venue@forward.co.uk?subject=LNUG'>
        get in touch
      </a>
      directly.
    </p>
  </div>

</div>