<!DOCTYPE html>
<!--
 ______   ______     ______     __     __     ______     ______     _____
/\  ___\ /\  __ \   /\  == \   /\ \  _ \ \   /\  __ \   /\  == \   /\  __-.
\ \  __\ \ \ \/\ \  \ \  __<   \ \ \/ ".\ \  \ \  __ \  \ \  __<   \ \ \/\ \
 \ \_\    \ \_____\  \ \_\ \_\  \ \__/".~\_\  \ \_\ \_\  \ \_\ \_\  \ \____-
  \/_/     \/_____/   \/_/ /_/   \/_/   \/_/   \/_/\/_/   \/_/ /_/   \/____/

We are always on the lookout for great developers.
If you would like to join us, visit http://forwardtechnology.co.uk/jobs
-->
<html lang='en'>
  <head>
    <title>London Node User Group | Forward</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1' name='viewport' />
    <meta name='description' content='London Node.js User Group, Meets Every 4th Wednesday of the Month at Forward in Camden' />
    <link href='/favicon.ico' rel='shortcut icon' />
    <link href="/stylesheets/lnug.css?148" type="text/css" rel="stylesheet" />
    <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-25368786-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
  </head>
  <body>
    <div id='wrapper'>
      <div id='header'>
        <h1 title='London Node User Group'><a href='/'>LNUG</a></h1>
        <div id='info'>
          <p>
            <strong>
              London Node.js User Group
            </strong>
            - Every 4th Wednesday of the Month
          </p>
        </div>
      </div>
      <div id='blurb'>
        Hosted monthly by
        <a href='http://www.forwardtechnology.co.uk'>Forward Internet Group</a>
        in Camden, LNUG is for people who use
        <a href='http://nodejs.org'>Node.js</a>
        for fun or profit. Why not
        <a href='https://groups.google.com/group/lnug'>join us</a>
        ?
      </div>
      <div id='content'>
        <div id="container"></div>
        <div id='footer'>
          <p>
            London Node User Group - Hosted by Forward -
            <a href='http://twitter.com/forwardtek'>@forwardtek</a>
          </p>
          <a class='img' href='http://nodejs.org'>
            <img alt='Node.js logo' src='/images/node-logo.png' />
          </a>
        </div>
      </div>
    </div>
  </body>
</html>